<script lang="ts">
    import {onMount} from "svelte";

    let ref = null;

    export let title;
    export let isActive;
    export let setRef;

    onMount(() => {
        setRef(ref);
    });
</script>

<div
        class="w-widget"
        class:active={isActive}
        bind:this={ref}
>
    {title}
</div>

<style lang="scss">

  .w-widget {
    width: 200px;
    height: 100px;
    background: #70ad56;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

    &.active {
      background: #646cff;
    }
  }

</style>
