<script lang="ts">
    import {get} from "svelte/store";
    import {addWidget, widgets, activeWidget} from "../store/navigation";
    import {onMount} from "svelte";

    export let Component;

    const uid = String(Math.random() * 100);
    let ref = null;
    let isActive = false;

    const setRef = (r) => {
        ref = r;
    };

    activeWidget.subscribe(activeUid => {
        isActive = activeUid === uid;
    });

    $: ({Component, ...props} = $$props);

    onMount(() => {
        addWidget({uid, ref});
    })
</script>

<svelte:component class="w-widget" this={Component} {...props} {isActive} {setRef}/>
