<script lang="ts">
  import Widget from "./lib/Widget.svelte";
  import Card from "./lib/Card.svelte";
</script>

<main>
  <Widget Component={Card} title="C1"></Widget>
  <Widget Component={Card} title="C2"></Widget>
  <Widget Component={Card} title="C3"></Widget>
  <Widget Component={Card} title="C4"></Widget>
  <Widget Component={Card} title="C5"></Widget>
  <Widget Component={Card} title="C6"></Widget>
  <Widget Component={Card} title="C7"></Widget>
  <Widget Component={Card} title="C8"></Widget>
</main>

<style lang="scss">
  main {
    display: flex;
    flex-wrap: wrap;
  }
</style>
